.application-job-title{
    padding: 15px 30px 0;
    font-size: 22px;
    color: #415d4d;
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
}

.see-more-app-card{
    margin: 10px;
}

.see-more-app{
    height: 90vh;
    overflow: auto;
}

.see-app-cv{
    text-decoration: underline;
    font-weight: 600;
}

.see-more-app-status{
    line-height: 1.6;
    font-size: 14px;
}

.see-more-app-cv{
    line-height: 1.6;
    font-size: 14px;
}

.passed-staged{
    line-height: 1.6;
    font-size: 14px;
    color: grey;
}

.current-stage{
    line-height: 1.6;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
}

.current-stage::before{
    content: "*";
}

.current-stage::after{
    content: "*";
}

.next-stage{
    line-height: 1.6;
    font-size: 15px;
}

.filter-section-app{
    width: 40% !important;
}

.jobs-detail-text-app{
    max-width: 70%;
}

.see-more-app-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 18vh;
}

.stop-process-dialog{
    width: 50% !important;
    height: 47vh !important;
    line-height: 1.6;
    font-size: 15px;
}

.job-checkbox-container-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column !important;
}

.app-item-question{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
}

.app-drawer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-item-answer{
    line-height: 1.6;
    font-size: 15px;
}

.app-list-app-info-card{
    padding: 10px 20px !important;
    margin-bottom: 10px;
}

.app-list-header-extended{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-list-header-res{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px !important;
}

.app-list-date{
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
}

.app-list-section-title{
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
}

.app-list-p-title{
    font-weight: 600;
    margin-left: -8px;
}

.app-list-p{
    font-size: 13px;
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
    margin-left: 15px;
}

.app-list-p-res{
    font-size: 13px;
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
}

.app-list-button{
    font-size: 12px !important;
    font-weight: 600;
    text-decoration: underline;
}

.expand-icon{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.app-list-p-res:last-of-type, .app-list-p:last-of-type, .app-list-header-res .app-list-p-res {
    margin-bottom: 0 !important;
}

.app-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fca485 !important;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.column-header {
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-right: 1px solid #5e1500;
    height: 100%;
    padding: 5px 0;
}

.column-header:last-of-type {
    border-right: none;
    width: 50%;
}

.app-nonextended-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.column-nonextended-list {
    width: 100%;
    text-align: center;
    border-right: 1px solid #5e1500;
    height: 100%;
    padding: 5px 0;
}

.column-nonextended-list:last-of-type {
    border-right: none;
    width: 50%;
}

@media (max-width: 1000px) {
    .stop-process-dialog{
        width: 80% !important;
        height: 45vh !important;
    }
}

@media (max-width: 900px) {
    .filter-section-app {
        padding: 10px 10px !important;
        width: 50% !important;
    }

    .stop-process-dialog{
        width: 90% !important;
        height: 45vh !important;
        line-height: 1.5;
        font-size: 14px;
    }
}

@media (max-width: 720px) {

    .jobs-component{
        padding: 10px;
    }

    .filter-section-app {
        padding: 5px 5px !important;
        width: 98% !important;
        margin-bottom: 10px !important;
    }

    .column-header, .column-nonextended-list {
        font-size: 11px;
    }

    .app-list-header, .app-nonextended-list{
        padding: 1px;
    }
}