.header {
    height: 40px !important;
    background-color: #698576 !important;
    color: #fff !important;
    overflow: hidden !important;
}

.header .bp4-navbar-group{
    height: 40px !important;
}

.company-name {
    font-family: 'Georgia', serif;
    animation: slideAnimation 8s linear infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    font-weight: bolder;
    font-size: large;
}

.nav-item:focus{
    outline: none !important;
}

@keyframes slideAnimation {
    0%, 100% {
        transform: translateX(0%);
    }
    5% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(40%);
    }
    25% {
        transform: translateX(0%);
    }
    35%, 95% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .bp4-navbar-divider{
    border-right: 2px solid #fff;
}

.nav-button{
    color: #fff !important;
    font-family: 'Georgia', serif!important;
    text-decoration: none!important;
}

.nav-button:hover{
    background-color: rgba(27, 70, 48, 0.2) !important;
}

.nav-button:focus{
    outline: none !important;
}

.nav-icon {
    margin-right: 3px;
}

.delete-menu-item {
    background-color: #c51c1c;
    color: white !important;
}

.delete-menu-item:hover {
    background-color: #960606 !important;
}

.bp4-popover-wrapper:focus, .bp4-popover-target:focus, .bp4-overlay-start-focus-trap:focus, .bp4-menu-item:focus{
    outline: none !important;
}

.bp4-popover-open:focus, .bp4-overlay:focus .bp4-overlay-open:focus .bp4-overlay-inline:focus{
    outline: none !important;
}

.bp4-menu{
    min-width: 50px !important;
}


@media (max-width: 700px) {
    .company-name {
        font-size: 14px;
    }

    .nav-item {
        font-size: 12px;
        padding-right: 10px;
    }
}
