.about-container {
    margin: 0 auto;
    padding: 20px 5vw;
}

.about-main-section {
    padding: 40px 0;
}

.about-text {
    display: flex;
    align-items: center;
    gap: 8%;
}

.about-us-title {
    font-family: 'Arial', sans-serif;
    font-size: 0.8rem;
    line-height: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5b627d;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.about-motto {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #232938;
    margin-bottom: 20px;
}

.about-description {
    font-family: "LL Circular",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #232938;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 350px;
    height: 350px;
    filter: drop-shadow(0 0 1px rgb(224, 156, 115));
    background-image: url("../../resources-photo/AboutShadowImg.png");
}

.image::after {
    content: '';
    background: linear-gradient(to bottom, #333, rgb(224, 156, 115));
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

.about-register-button {
    margin-top: 20px;
    color: #fff;
    background-color: #685369;
    position: relative;
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #543f56;
    border-radius: 4px;
    padding: 0 24px;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
}

.about-register-button:hover{
    background-color: #4c3c4d !important;
    border-color: #372838 !important;
    text-decoration: none;
    color: white !important;
}

.about-register-button:focus{
    outline: none !important;
}

.about-secondary-section {
    background-color: rgba(224, 156, 115, 0.2);
    display: flex;
    align-items: center;
}

.about-secondary-text {
    flex: 1;
}

.about-us-subtitle {
    padding-top: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5b627d;
    position: relative;
    margin-bottom: 15px;
}

.about-secondary-short {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #232938;
    margin-bottom: 20px;
}

.about-secondary-description{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.about-secondary-description div {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.about-secondary-description div:first-child {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .about-image img{
        width: 200px;
        height: 200px;
    }

    .about-us-title {
        font-family: 'Arial', sans-serif;
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    .about-motto {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .about-description {
        font-size: 15px;
        line-height: 1.3;
    }

    .about-register-button {
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        padding: 0 20px;
    }

    .about-secondary-description div {
        font-size: 14px;
        line-height: 1.5;
    }

}

@media (max-width: 550px) {
    .about-image img{
        width: 150px;
        height: 150px;
    }

    .about-us-title {
        font-family: 'Arial', sans-serif;
        font-size: 0.6rem;
        line-height: 1rem;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    .about-motto {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .about-description {
        font-size: 14px;
        line-height: 1.3;
    }

    .about-secondary-description div {
        font-size: 14px;
        line-height: 1.4;
    }
}


