.header-auth {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px !important;
    background-color: #698576 !important;
    color: #fff !important;
    overflow: hidden !important;
}

.company-name-auth {
    font-family: 'Georgia', serif !important;
    animation: slideAnimation 8s linear infinite !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
    margin-left: 15px !important;
    font-weight: bolder !important;
    font-size: large !important;
}

@keyframes slideAnimation {
    0%, 100% {
        transform: translateX(0%);
    }
    5% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(40%);
    }
    25% {
        transform: translateX(0%);
    }
    35%, 95% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

.navigation-auth {
    display: flex !important;
    align-items: center !important;
}

.nav-item-auth {
    margin-left: 15px !important;
    padding-right: 15px !important;
    display: flex !important;
    align-items: center !important;
    color: #fff !important;
    text-decoration: none !important;
    font-family: 'Georgia', serif !important;
    background: none !important;
    cursor: pointer !important;
    outline: inherit !important;
}

.nav-item-auth:not(:last-child) {
    border-right: 2px solid #fff !important;
}

.nav-item-auth:hover {
    color: #b5eed3 !important;
}

.nav-icon-auth {
    margin-right: 3px !important;
}

@media (max-width: 700px) {
    .company-name {
        animation: none;
        font-size: 14px;
    }

    .nav-item {
        font-size: 12px;
        padding-right: 10px;
    }
}