.token-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.token-container-form {
    background-color: rgba(224, 156, 115, 0.2);
    padding: 20px 20px;
    width: 45vw;
    margin: 20px auto 10px;
}

.token-title {
    text-align: center;
    color: #415d4d;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 15px;
}

.token-forms {
    margin-left: 8%;
    margin-right: 8%;
}

.token-form-group input {
    height: 25px;
}

.token-forms .bp4-form-helper-text {
    text-align: center;
    font-weight: 550;
}

.token-button {
    margin: 0 auto !important;
    display: block !important;
    background-color: #ffaf84 !important;
    width: 50%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.token-button:focus {
    outline: #e56c06 solid 1px !important;
}


.bp4-control input:focus ~ .bp4-control-indicator {
    outline: none !important;
    outline-offset: 0 !important;
}

@media (max-width: 1000px) {
    .token-container-form {
        width: 75vw;
    }

    .token-forms {
        margin-left: 3%;
        margin-right: 3%;
    }
}
