.multiple-cv-background{
    background-color: rgba(224, 156, 115, 0.2);
    height: 50vh;
    background-position: 0 0;
    background-size: 100% 100%;
    width: 100%;
}

.multiple-cv-title{
    padding: 6vh 60px 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
    color: #6f5370 !important;
}

.multiple-cv-motivation{
    margin-bottom: 1.5rem !important;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    font-family: Open Sans, sans-serif;
    text-align: justify;
    padding: 5px 60px 0;
}

.add-cv-options{
    padding: 5px 60px 0;
}

.add-cv-options-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
}

.add-cv-options-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 10px;
}

.add-cv-option{
    font-size: 14px !important;
    transition: all .15s ease !important;
    letter-spacing: .05em !important;
    color: #fff !important;
    border: 1px solid #59245b !important;
    background-color: #623865 !important;
    padding: .625rem 1.25rem !important;
    border-radius: 5px !important;
}

.cv-spinner{
    align-items: center !important;
    display: flex !important;
    justify-content: space-between !important;
    overflow: visible !important;
    vertical-align: middle !important;
    margin-top: 10px !important;
}

.add-cv-option:hover {
    background: none !important;
}

.add-cv-option:hover{
    border: 1px solid #4b0e52 !important;
    background-color: #651c6e !important;
}

.add-cv-option:focus{
    outline: none !important;
}

.cv-form-drawer{
    height: 100vh;
    overflow: auto;
    padding: 0 15px;
}

.cv-form-drawer .bp4-non-ideal-state-visual img{
    width: 100px;
    height: 100px;
}

.section-title-drawer {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.cv-drawer{
    display: flex !important;
    justify-content: end;
    align-items: end;
}

.cv-drawer .bp4-non-ideal-state{
    margin-bottom: 0 !important;
}

.cv-table-list tr:nth-child(even) {
    background-color: rgba(224, 156, 115, 0.2);
}

.cv-table-list thead tr:first-of-type {
    background-color: #fca485 !important;
}

table tr th:nth-child(2){
    width: 35%;
}

table tr th:nth-child(1){
    width: 60%;
}

table tr th:nth-child(3){
    width: 15%;
}

.cv-table-list {
    border-collapse: collapse;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    margin-top: 30px;
    table-layout: fixed !important;
}

.cv-table-list th,
.cv-table-list td {
    border: 1px solid grey;
    padding: 12px 15px !important;
}

.cv-sort-button{
    cursor: pointer !important;
}

.cv-sort-button:hover{
    background-color: #ffaf84 !important;
}

.cv-sort-button:focus{
    outline: none !important;
}

.cv-default-button{
    cursor: default !important;
}

.cv-table-list th .bp4-popover-wrapper{
    display: flex;
    justify-content: center;
}

.cv-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.cv-table-list th,
.cv-table-list td {
    white-space: nowrap !important;
    overflow: hidden  !important;
    text-overflow: ellipsis  !important;
}

.cv-form-drawer-container .bp4-drawer-header{
    background-color: #698576 !important;
}

.cv-form-drawer-container .bp4-drawer-header button:focus{
   outline: none !important;
}

.cv-form-drawer-container .bp4-drawer-header .bp4-icon{
    color: white !important;
}
.add-cv-button-in-multiple{
    font-size: 15px !important;
    color: black !important;
    border: 1px solid #af7554 !important;
    background-color: #ffaf84 !important;
    border-radius: 5px !important;
    width: 15%;
    letter-spacing: 1px;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .multiple-cv-background{
        height: 55vh;
    }
}

@media (max-width: 900px) {
    .multiple-cv-background{
        height: 57vh;
    }

    .img-drawer .custom-image{
        width: 50px;
        height: 50px;
    }

    .img-drawer .remove-image-button{
        font-size: 12px;
        text-align: center;
    }

    .img-drawer .file-input-content .bp4-file-input{
        width: 90%;
    }

    .multiple-cv-title{
        padding: 6vh 30px 0;
    }

    .multiple-cv-motivation{
        margin-bottom: 1.5rem !important;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;
        font-family: Open Sans, sans-serif;
        text-align: justify;
        padding: 5px 30px 0;
    }

    .add-cv-options{
        padding: 5px 30px 0;
    }

    .add-cv-option .bp4-button-text{
        font-size: 14px;
    }

    .cv-table-list {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .multiple-cv-background{
        height: 65vh;
    }

    .add-cv-options{
        padding: 5px 30px 0;
    }

    .add-cv-button-in-multiple{
        width: 20%;
    }

}

@media (max-height: 550px) {
    .multiple-cv-background{
        height: 70vh;
    }
}

@media (max-height: 500px) {
    .multiple-cv-background{
        height: 90vh;
    }
}