.chart-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 5vw 0;
}


.chart-group:last-of-type{
    margin-bottom: 25px;
}

.chart-group:nth-of-type(2){
    margin-top: 25px;
}

.chart-background {
    background-color: rgba(255, 120, 53, 0.1);
}

.activity-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    border: 1px solid darkgrey;
    padding: 10px;
    height: 60vh;
}

.activity-chart-long{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    border: 1px solid darkgrey;
    padding: 10px;
    height: 50vh;
}


.activity-chart-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.activity-chart-desc{
    font-style: italic;
    margin-bottom: 5px;
    text-align: justify;
}

.activity-chart-display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.activity-chart-display{
    width: 300px;
    height: 300px;
    padding: 10px;
}

.activity-chart-display-long{
    width: 500px;
    height: 300px;
    padding: 10px;
}

@media (max-width: 1200px) {
    .chart-group:nth-of-type(2){
        margin-left: 6vw;
        margin-right: 5vw;
    }
}

@media (max-width: 1100px) {
    .chart-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5vw;
    }

    .chart-background{
        background-color: white;
    }

    .chart-background-small {
        background-color: rgba(255, 120, 53, 0.1) !important;
    }

    .activity-chart{
        width: 80vw;
        height: 65vh;
    }

    .activity-chart-display-long{
        width: 500px;
        height: 500px;
        padding: 10px;
    }

    .activity-chart-long{
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 900px) {

    .chart-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5vw;
    }

    .chart-background{
        background-color: white;
    }

    .chart-background-small {
        background-color: rgba(255, 120, 53, 0.1) !important;
    }

    .activity-chart{
        width: 80vw;
        height: 65vh;
    }

    .activity-chart-display-long{
        width: 400px;
        height: 300px;
        padding: 10px;
    }

    .activity-chart-long{
        width: 80vw;
        height: 50vh;
    }
}