/* Main container for the entire component */
.jobs-component {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    gap:2%;
}

/* Left section (filters) */
.filter-section {
    flex: 1;
    background-color: rgba(224, 156, 115, 0.10);
    padding: 20px 20px;
    width: 40%;
    flex: none;
}

.filter-section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 10px;
    margin: 2px 0 10px;
    border-bottom: #afafaf 1px solid;
}

.filter-section-title{
    font-weight: bold !important;
    font-size: 18px !important;
    font-style: italic;
    letter-spacing: 1px;
}

/* Styling for checkboxes */
.jobs-contractType-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.jobs-contractType-filter .bp4-label{
    text-decoration: underline;
}

.no-job-filter{
    font-style: italic;
}

.job-checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.job-checkbox-item{
    flex: 1 0 45%; /* This means the checkboxes will grow and shrink as needed, but not smaller than 45% of the container's width */
    margin-bottom: 10px; /* Add margin to checkboxes */
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
}

/* Checkbox label text */
.jobs-contractType-filter .bp4-checkbox {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* Right section (buttons, search, and order) */
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
}

/* Styling for buttons */
.add-job-button
{
    background-color: #ffaf84 !important;
    border: none !important;
    margin-bottom: 15px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    box-shadow: none !important;
}

.sort-jobs-button{
    margin-bottom: 10px !important;
    cursor: pointer !important;
    border-radius: 6px !important;
    font-weight: 600;
    font-size: 12px !important;
    text-decoration: underline;
}

.sort-jobs-button .bp4-button-text,
.add-job-button .bp4-icon-plus{
    margin-right: 2px !important;
}

.sort-jobs-button:hover {
    background-color: #eeeeee !important;
}

.add-job-button:hover {
    background-color: #e56c06 !important;
}

.add-job-button:focus,
.sort-jobs-button:focus{
    outline: none !important;
}

.job-page-second-line-buttons .bp4-input-group{
    flex: none;
    width: 60%;
    font-size: 13px;
}

.job-page-second-line-buttons .bp4-input-group .bp4-input{
    height: 25px !important;
    font-size: 13px;
    border-radius: 7px !important;
}

/* Styling for search input */
input[type="search"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styling for job list */
.jobs-non-ideal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.jobs-list {
    width: 100%;
}

/* Styling for job items */
.job-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* No jobs found message */
.non-ideal-state {
    color: #333;
    font-style: italic;
}

.job-page-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.job-page-second-line-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jobs-list-show{
    width: 100%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #ffbc98;
    border: 2px solid #ffb390;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button:focus{
    outline: none !important;
}

.pagination-button:hover {
    background-color: #ffbfa1;
}

.pagination-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.pagination-button.active {
    background-color: rgba(224, 156, 115, 0.2);
    border: 2px solid #ffe2d9;
}

.job-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.jobs-company-logo img {
    width: 110px;
    height: 110px;
    border-radius: 10%;
    margin: 5px 30px 5px 10px;
    border: 1px solid black;
}

.job-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jobs-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 2px;
}

.job-text-date{
    font-style: italic;
}

.job-text-title{
    font-weight: bold;
    font-size: 19px;
    margin: 2px 0;
    cursor: pointer;
}

.job-text-company{
    font-weight: 600;
    font-size: 13px;
    margin: 2px 0;
}

.jobs-detail .bp4-icon svg{
    width: 10px !important;
    height: 10px !important;
}

.jobs-detail .bp4-icon{
    margin-top: 1px;
}

.jobs-detail-text .jobs-detail:nth-of-type(1) .bp4-icon svg{
    width: 13px !important;
    height: 13px !important;
}

.jobs-detail-text .jobs-detail:nth-of-type(1) .bp4-icon{
    margin-top: 1px;
}

.job-text{
    font-size: 12px;
}

.show-job-button{
    text-decoration: underline !important;
}

.show-job-button:focus{
    outline: none;
}

.jobs-detail-text{
    max-width: 65%;
}

.ql-hidden{
    display: none !important;
}

@media (max-width: 900px) {
    .filter-section {
        padding: 10px 10px;
        width: 50%;
    }

    .jobs-contractType-filter{
        margin-bottom: 10px !important;
    }

    .jobs-contractType-filter .bp4-label{
        font-size: 12px;
    }

    .jobs-contractType-filter .job-checkbox-item{
        font-size: 12px;
    }

    .jobs-contractType-filter .bp4-control-indicator{
        font-size: 12px;
    }

    .filter-section-title{
        font-size: 15px !important;
    }

    .jobs-contractType-filter .bp4-button{
        font-size: 12px;
        min-height: 20px !important;
    }

    .no-job-filter{
        font-size: 12px;
    }

    .right-section {
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .job-page-buttons{
        align-items: center;
    }

    .job-page-second-line-buttons{
        flex-direction: column;
    }

    .jobs-company-logo img {
        width: 60px;
        height: 60px;
        margin: 5px 10px 5px 5px;
    }

    .job-text-title{
        font-weight: 600;
        font-size: 14px;
        margin: 2px 0;
    }

    .job-text-company{
        font-weight: 500;
        font-size: 11px;
        margin: 1px 0;
    }

    .show-job-button .bp4-button-text{
        font-size: 11px !important;
    }

    .show-job-button svg{
        width: 10px !important;
        height: 10px !important;
    }

    .job-text-date{
        font-size: 12px;
    }
}

@media (max-width: 720px) {
    .jobs-component {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 8px;
    }

    .filter-section {
        padding: 10px 10px;
        width: 95%;
        margin-bottom: 10px;
    }

    .jobs-contractType-filter{
        margin-bottom: 10px !important;
    }

    .jobs-contractType-filter .bp4-label{
        font-size: 12px;
    }

    .jobs-contractType-filter .job-checkbox-item{
        font-size: 12px;
    }

    .jobs-contractType-filter .bp4-control-indicator{
        font-size: 12px;
    }

    .filter-section-title{
        font-size: 15px !important;
    }

    .jobs-contractType-filter .bp4-button{
        font-size: 12px;
        min-height: 20px !important;
    }

    .no-job-filter{
        font-size: 12px;
    }

    .right-section {
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .job-page-buttons{
        align-items: center;
    }

    .job-page-second-line-buttons{
        flex-direction: column;
    }

    .jobs-non-ideal{
        min-height: 0;
    }


    .just-jobs{
        min-height: 0;
    }

    .jobs-company-logo img {
        width: 60px;
        height: 60px;
        border-radius: 10%;
        margin: 5px 10px 5px 5px;
        border: 1px solid black;
    }

    .job-text-title{
        font-weight: 600;
        font-size: 14px;
        margin: 2px 0;
    }

    .job-text-company{
        font-weight: 500;
        font-size: 11px;
        margin: 1px 0;
    }

    .show-job-button .bp4-button-text{
        font-size: 11px !important;
    }

    .show-job-button svg{
        width: 10px !important;
        height: 10px !important;
    }

    .job-text-date{
        font-size: 12px;
    }
}