.show-job-details-page {
    padding: 20px;
}

.show-job-header {
    display: flex;
    margin-top: 20px;
}

.show-job-details {
    flex: none;
    margin-left: 20px;
    width: 69%;
}

.show-actions {
    margin-top: 10px;
}

.show-stages-section,
.show-questions-section {
    padding: 10px !important;
    padding-left: 30px !important;
}

.show-stages-section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-job-cards{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.show-job-profile-card{
    margin-bottom: 10px;
    background-color: rgba(224, 156, 115, 0.10) !important;
}

.show-job-card-details{
    background-color: rgba(224, 156, 115, 0.10) !important;
}

.show-job-profile-info {
    padding: 5px;
    text-align: center;
}

.show-job-profile-button {
    margin: 0 auto !important;
    display: block !important;
    background-color: #ffaf84 !important;
    width: 50%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.show-job-profile-image {
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.show-job-profile-name {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fdaf7e;
    font-size: 24px;
}

.back-to-all-jobs-button .bp4-button-text{
    color: #184a90;
    text-decoration: underline;
}

.back-to-all-jobs-button:hover {
    background: none !important;
}

.back-to-all-jobs-button:hover .bp4-button-text{
    color: #031531;
}

.back-to-all-jobs-button:focus{
    outline: none !important;
}

.back-to-all-jobs-button .bp4-icon svg{
    fill: #184a90;
}

.back-to-all-jobs-button:hover .bp4-icon svg{
    fill: #031531;
}

.show-job-profile-span{
    font-weight: 600;
}

.show-job-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.show-job-title{
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

.show-job-edit-desc-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.show-job-card-description .ql-editor {
    overflow: auto;
    max-width: 70vw;
    margin: auto;
    height: 65vh;
}

.show-job-card-description {
    margin-bottom: 10px;
    max-width: 70vw;
    padding: 0 !important;
    height: 65vh;
}

.show-job-card-description-dinamic .ql-editor {
    height: 55.5vh;
}

.show-job-card-description-dinamic .ql-container{
    border: none !important;
}

.show-job-card-description-dinamic .ql-editor:focus{
    outline: none !important;
}

.show-job-title-section{
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 0;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.show-job-title-section .bp4-icon{
    margin-top: 3px !important;
}

.show-job-list-section{
    margin-top: 20px !important;
    margin-left: 30px !important;
}

.show-job-list-section .show-job-profile-span{
    text-decoration: underline;
}

.show-job-list-section{
    line-height: 1.5;
    text-align: justify;
}

.cv-choose-dialog{
    width: 60% !important;
}

.cv-choose-div{
    margin-top: 5px;
    height: 50vh;
    overflow: auto;
}

.cv-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 10px;
    align-items: center;
}

.show-job-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.view-candidates-for-job{
    background-color: white !important;
    box-shadow: inset 0 0 0 1px #064060, 0 1px 1px rgba(26, 79, 108, 0.1) !important;
    color: #064060 !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
}

.view-candidates-for-job:focus{
    outline: none !important;
}

.view-candidates-for-job:hover{
    background-color: rgba(26, 79, 108, 0.1) !important;
}

.erase-job{
    background-color: white !important;
    box-shadow: inset 0 0 0 1px #a96d20, 0 1px 1px rgba(251, 179, 96, 0.1) !important;
    color: #a96d20 !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
}

.erase-job:hover{
    background-color: rgba(251, 179, 96, 0.1) !important;
}

.erase-job:focus{
    outline: none !important;
}

.apply-to-job{
    background-color: white !important;
    box-shadow: inset 0 0 0 1px #238551, 0 1px 1px rgba(35, 133, 81, 0.1) !important;
    color: #238551 !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
}

.apply-to-job:hover{
    background-color: rgba(35, 133, 81, 0.1) !important;
}

.apply-to-job:focus{
    outline: none !important;
}

.show-job-edit-desc{
    background-color: white !important;
    box-shadow: inset 0 0 0 1px #1e1c1c, 0 1px 1px rgba(30, 28, 28, 0.1) !important;
    color: #1e1c1c !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
}

.show-job-edit-desc:hover{
    background-color: rgba(30, 28, 28, 0.1) !important;
}

.show-job-edit-desc:focus{
    outline: none !important;
}

@media (max-width: 1000px) {
    .show-job-profile-button {
        width: 80%;
    }

    .show-job-card-description{
        max-width: 100%;
        height: 70vh;
    }

    .show-job-card-description .ql-editor{
        max-width:100%;
        height: 60vh;
    }

    .show-job-card-description-static .ql-editor{
        max-width:100%;
        max-height: 60vh;
    }

    .show-job-card-description-dinamic .quill{
        height: 60vh;
    }

    .show-job-card-description-dinamic .ql-editor {
        height: 60vh;
    }
}

@media (max-width: 1100px) {
    .show-job-profile-button {
        width: 80%;
    }

    .show-job-card-description{
        max-width: 100%;
        height: 70vh;
    }

    .show-job-card-description .ql-editor{
        max-width:100%;
        height: 63vh;
    }

    .show-job-card-description-static .ql-editor{
        max-width:100%;
        max-height: 70vh;
    }

    .cv-choose-dialog{
        width: 80% !important;
    }
}

@media (max-width: 900px) {
    .show-job-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .show-job-cards{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .show-job-details {
        margin-top: 10px;
        flex: none;
        margin-left: 0;
        width: 95%;
    }

    .show-job-card-description{
        max-width: 100%;
        max-height: 30vh;
    }

    .show-job-card-description .ql-editor{
        max-width:100%;
        max-height: 30vh;
    }

    .show-job-card-description-dinamic .ql-editor {
        max-height: 19vh;
    }

    .show-stages-section,
    .show-questions-section{
        margin-left: 2%;
        width: 95%;
    }

    .show-job-list-section{
        line-height: 1.2;
    }

    .show-job-list-section{
        margin-left: 0 !important;
    }
}