.edit-account-container{
    width: 100%;
    height: 100%;
}

.edit-account-background{
    background-color: rgba(224, 156, 115, 0.2);
    height: 50vh;
    background-position: 0 0;
    background-size: 100% 100%;
    width: 100%;
}

.edit-account-introduction{
    padding-right: 39px !important;
    padding-left: 39px !important;
    max-width: 60%;
}

.edit-account-hello{
    padding-top: 5vh;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
    color: #6f5370 !important;
}

.edit-account-desc{
    margin-bottom: 1.5rem !important;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    font-family: Open Sans, sans-serif;
    text-align: justify;
}

.edit-profile-button{
    font-size: 14px !important;
    transition: all .15s ease !important;
    letter-spacing: .05em !important;
    text-transform: none !important;
    will-change: transform !important;
    color: #fff !important;
    border: 1px solid #59245b !important;
    background-color: #623865 !important;
    padding: .625rem 1.25rem !important;
    border-radius: 5px !important;
    margin-bottom: 2rem !important;
}

.edit-profile-button:focus{
    outline: none !important;
}

.edit-profile-button:disabled{
    border: 1px solid #544654 !important;
    background-color: #655965 !important;
}

.edit-profile-button:disabled:hover{
    border: 1px solid #544654 !important;
    background-color: #655965 !important;
}

.edit-profile-button:hover{
    border: 1px solid #4b0e52 !important;
    background-color: #651c6e !important;
}

.edit-profile-card{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: .375rem;
}

.edit-profile-card-container{
    background-color: rgb(250, 243, 239) !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.edit-profile-card-title-container{
    border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
    margin: 0;
    background-color: white !important;
}

.edit-profile-card-title{
    font-size: 16px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #6c7d8c !important;
    margin-bottom: 1rem !important;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.8rem 1.5rem;
}

.edit-profile-card-content{
    padding: 0.5rem 1rem 1rem;
}

.profile-fields-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-field{
    width: 48%;
}

.profile-field .bp4-input:focus {
    box-shadow: inset 0 0 0 1px rgba(224, 156, 115), 0 0 0 2px rgba(224, 156, 115, 0.3), inset 0 1px 1px rgba(17, 20, 24, 0.2);
}

.profile-field .bp4-form-helper-text {
    text-align: center;
    font-weight: 550;
}

.profile-field label{
    font-size: .875rem;
    font-weight: 600;
}

.profile-field input{
    height: calc(2.25rem + 2px);
    padding: .625rem .75rem;
    border-radius: .375rem;
}

.edit-profile-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.edit-profile-submit{
    background-color: #ffaf84 !important;
    width: 15%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
}

.edit-profile-discard{
    width: 20%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
}

.change-password-section-subtitle{
    font-size: 14px;
    margin-bottom: 13px;
    color: #252f2a;
}

.profile-field .password-button{
    margin-top: 8px !important;
}

.edit-profile-submit:focus, .edit-profile-discard:focus{
    outline: none !important;
}

.edit-profile-charts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    gap: 3px;
}

.profile-chart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.profile-chart-container-long{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.profile-chart-title{
    margin-bottom: 5px;
    font-size: .875rem;
    font-weight: 600;
}

@media (max-width: 1260px) {
    .edit-profile-charts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        gap: 3px;
        max-width: 100%;
    }

    .edit-profile-charts > * {
        flex: 0 1 calc(50% - 3px);
        margin-bottom: 3px;
    }
}

@media (max-width: 900px) {
    .edit-account-introduction{
        max-width: 70%;
    }

    .edit-profile-charts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        gap: 3px;
    }
}

@media (max-width: 650px) {
    .edit-account-introduction{
        max-width: 90%;
    }

    .edit-profile-card{
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .edit-profile-submit{
        width: 20%;
    }

    .edit-profile-discard{
        width: 40%;
    }

    .edit-profile-charts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        gap: 3px;
    }
}

@media (max-height: 550px) {
    .edit-account-background{
        height: 70vh;
    }
}

@media (max-height: 500px) {
    .edit-account-background{
        height: 90vh;
    }
}