.form-container-profile {
    display: flex;
    padding: 5px;
    background-color: #fef5f2;
    margin: 15px 50px;
}

.create-profile-subtitle {
    margin-left: 8%;
    color: black;
    text-align: justify;
    line-height: 1.5;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 8%;
}

.left-column,
.right-column {
    flex: 1;
    padding: 10px 20px;
}

.left-column {
    border-right: 2px solid #698576;
}

.right-column .quill{
    background-color: white;
}

.right-column .ql-editor:focus{
    outline: none !important;
}

.form-column .bp3-form-group {
    margin-bottom: 20px;
}

.custom-file-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.custom-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.file-input-container-hole{
    flex: none;
    width: 100%;
    margin-top: 5px;
}

.file-input-container{
    flex: none;
    width: 76%;
    margin-top: 5px;
    margin-left: 2%;
}

.file-input-container .bp4-file-input,
.file-input-container-hole .bp4-file-input{
    width: 100%;
}

.file-input-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px
}

.custom-image {
    border: 1px solid #ffc8b2;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.custom-image-container{
    width: 23%;
    padding-left: 2%;
}

.file-input-label-title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.file-input-label{
    text-align: center;
}

.right-column .ql-editor {
    overflow: auto;
    max-width: 70ch;
    margin: auto;
    height: 51vh;
}

.right-column .bp4-form-group{
    margin: 0 !important;
}

.create-profile-button {
    display: block !important;
    background-color: #ffaf84 !important;
    width: 20%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 10px auto !important;
}

.remove-image-button{
    text-align: center !important;
}

@media (max-width: 800px) {
    .create-profile-subtitle {
        font-size: 12px;
        line-height: 1;
    }

    .form-container-profile {
        display: block;
    }

    .left-column {
        border-right: none;
        border-bottom: 2px solid #698576;
    }

    .file-input-container{
        width: 80%;
    }

    .right-column .ql-editor {
        overflow: auto;
        max-width: 80ch;
        margin: auto;
        height: 51vh;
    }

}

@media (max-width: 750px) {
    .create-profile-subtitle {
        font-size: 10px;
        line-height: 1.2;
        margin-right: 52px;
    }

    .create-profile-button {
        width: 50%;
    }

    .form-container-profile{
        margin: 15px 20px;
    }

    .file-input-container{
        width: 70%;
        margin-left: 2%;
    }
}
