.register-container{
    margin-top: 20px;
    margin-bottom: 10px;
}

.register-container-form{
    background-color: rgba(224, 156, 115, 0.2);
    padding: 20px 20px;
    width: 50vw;
    margin: 20px auto 10px;
}

.register-title{
    text-align: center;
    color: #415d4d;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 15px;
}

.register-forms{
    margin-left:10%;
    margin-right:10%;
}

.register-form-group input{
    height: 25px;
}

.register-radio-group label:nth-of-type(1){
    display: inline-block !important;
    padding-right: 15px;
}

.register-forms .bp4-form-helper-text{
    text-align: center;
    font-weight: 550;
}

.password-button{
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
    background: none !important;
    color: inherit !important;
    border: none !important;
    font: inherit !important ;
    cursor: pointer !important;
    outline: inherit !important;
}

.register-button{
    margin: 0 auto !important;
    display: block !important;
    background-color: #ffaf84 !important;
    width: 50%;
    text-align: center !important;
    color: black !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.register-button:focus{
    outline: #e56c06 solid 1px !important;
}

.register-go-to-login {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: underline 1px #2c56b9;
}

.register-go-to-login a{
    color: #2c56b9 !important;
}

.bp4-control input:focus ~ .bp4-control-indicator{
    outline: none !important;
    outline-offset: 0 !important;
}

@media (max-width: 1200px) {
    .register-radio-group label:nth-of-type(1){
        display: block !important;
        padding-right: 0;
    }
}
